pydantic>=2.7.4,<3.0.0
neo4j>=5.0.0
pinecone>=7.3.0
flask==3.0.3
flask-cors==5.0.0
python-jose==3.3.0
flask-login==0.6.3
jose==1.0.0
python-dotenv==1.0.1
authlib==1.3.2
requests>=2.27.1
PyJWT
auth0-python
amplitude-analytics
certifi
safetensors
stability-sdk
openai===1.56.2
celery===5.3.6
diffusers
accelerate
redis
tiktoken
grpcio>=1.53.0,<1.64.0
Pillow
Werkzeug==3.0.1
torch==2.2
torchvision==0.17
langchain
langchain-huggingface
spacy==3.7.5
pypdf
scikit-learn==1.5.2
debugpy
ollama
langchain_experimental
langchain_core
python-magic
scipy==1.13.1
numpy==1.26.4
pytest
pytest-mock
pytest-cov
instructor==1.7.0
stripe==11.3.0
fastapi==0.115.6
uvicorn==0.34.0
libmagic==1.0
transformers>=4.36.0
sentencepiece==0.1.99
httpx==0.25.2
pytest-asyncio
aiofiles
python-multipart
authlib
protobuf==3.20.0
certifi
aioredis==2.0.1
groq
pymongo
azure-servicebus>=7.11.0

PyMuPDF>=1.26.6
cryptography==44.0.1
